<div class="search">
    <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
      <input name="show" value="title" type="hidden">
      <input name="tempid" value="1" type="hidden">
      <input name="tbname" value="news" type="hidden">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="fenlei">
    <h2>文章分类</h2>
    <ul>
        {% for list in GETFIDCATE() %}
      <li><a href="/list?cid={{ list.id }}">{{ list.name }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <div class="tuijian">
    <h2>站长推荐</h2>
    <ul>
        {% for list in GETREARTICLE() %}
      <li><a href="/article?id={{ list.id }}">{{ list.title }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <div class="tuijian">
      <h2>点击排行</h2>
      <ul>
          {% for list in GETCLICKARTICLE() %}
        <li><a href="/article?id={{ list.id }}">{{ list.title }}</a></li>
        {% endfor %}

      </ul>
  </div>